In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_diabetes
from itertools import combinations, permutations
import matplotlib.patches as mpatches
from sklearn.metrics import mean_squared_error
import random
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.decomposition import PCA
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import nbformat

In [4]:
def generate_dataset(n_samples=2000):
    np.random.seed(42)

    # Generate independent features
    X1 = np.random.uniform(-1, 1, n_samples)

    Y = X1

    # Create redundancies
    X2 = np.log(np.abs(np.sin(X1)) + 1e-5)  # Double transformation
    X3 = np.abs(X1)  # Piecewise
    X4 = np.maximum(0, X1)  # ReLU
    X5 = np.sin(X1 + np.pi / 4)  # Periodic
    X6 = 1 / (X1 + 1e-5)  # Reciprocal transformation

    df = pd.DataFrame({'X1': X1, 'X2': X2, 'X3': X3, 'X4': X4, 'X5': X5, 'X6': X6, 'Y': Y})
    
    return df

# Example dataset with exponential dependency
# df_exp = generate_dataset(dependency_type="exponential")
df = generate_dataset()
display(df.head())

,X1,X2,X3,X4,X5,X6,X7,Y
0,-0.769891,0.039939,-0.362310,0.769891,0.000000,0.015507,-1.298902,0.969719
1,0.218133,-0.768753,-1.530547,0.218133,0.218133,0.843374,4.584147,0.845616
2,-0.733218,0.703566,-0.401561,0.733218,0.000000,0.052156,-1.363869,0.596983
3,-0.518821,-0.929732,-0.701449,0.518821,0.000000,0.263431,-1.927485,1.619900
4,-0.345722,-0.106149,-1.082092,0.345722,0.000000,0.425647,-2.892582,1.037380